<h1><%= @artist.name %></h1>

<!-- prepare an instance variable in the controller -->
<!-- then access it in this view -->
<div>
<%= image_tag @artist.image_path %>

<%= link_to "Edit", edit_artist_path(@artist) %>
</div>
